<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>insert_pokemon</title>
</head>
<body>
  <a href="/pokemon">一覧に戻る</a>
  <hr>
  <h2>ポケモンを追加する</h2>
  <form action="/pokemon/insert" method="post" autocomplete="off">
    図鑑番号：<input type="number" name="number" min="1" required>（半角数字）<br>
    名前：<input type=text" name="name" size = 6 pattern="[\u30A1-\u30F6]*" required>（全角カタカナ）<br>
    （リージョンフォーム
    <select name="area">
      <option></option>
      <option value="（アローラ）">アローラのすがた</option>
      <option value="（ガラル）">ガラルのすがた</option>
      <option value="（ヒスイ）">ヒスイのすがた</option>
      <option value="（パルデア）">パルデアのすがた</option>
    </select>
    ）<br>
    攻撃種族値：<input type="number" name="attack" min="1" required>（半角数字）<br>
    防御種族値：<input type="number" name="defence" min="1" required>（半角数字）<br>
    HP種族値：<input type="number" name="hp" min="1" required>（半角数字）<br>
    タイプ：
    <select name="type1">
      <% for(let row of data){ 
           if(row.name != "タイプなし"){%>
             <option value="<%= row.number %>"><%= row.name %></option>
      <%   }
         } %>
    </select>
    <select name="type2">
      <option value="0"></option>
      <% for(let row of data){ 
           if(row.name != "タイプなし"){%>
             <option value="<%= row.number %>"><%= row.name %></option>
      <%   }
         } %>
    </select>
    <input type="submit" value="追加"><br>
  </form>
  <hr>
  <details>
    <summary>使い方</summary>
      <p>追加したいポケモンの図鑑番号・名前・ステータスを入力する。(すがたが原種と異なる場合はリージョンフォームから選択する)</p>
      <p>追加ボタンを押すと一覧に追加される。</p>
  </details>
</body>
</html>