<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>calculator</title>
</head>
<body>
  <a href="/calc/page/cp">もどる</a>
  <hr>
  <table border=1>
      <tr>
        <td>pl</td>
        <td>CP</td>
        <td>SCP</td>
      </tr>
      <tr>
        <td><%= pl %></td>
        <td><%= cp %></td>
        <td><%= scp %></td>
      </tr>
  </table>
</body>
</html>