<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <p><%= mes %></p>
  <hr>
  <a href="/">トップページ</a><br>
  <a href="/pokemon">ポケモン一覧</a><br>
  <a href="/type">タイプ一覧</a><br>
</body>
</html>