<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>top page</title>
</head>
<body>
  <h2>Message</h2>
  <p><%= mes %></p>
  <a href="/pokemon">/pokemon</a><br>
  <a href="/type">/type</a><br>
  <a href="/pokemon/status">/pokemon/status</a><br>
</body>
</html>