<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>top page</title>
</head>
<body>
  <h2>toppage</h2>
  <details>
    <summary>このサイトについて</summary>
  </details>
  <a href="/pokemon">ポケモン一覧</a><br>
  <a href="/type">タイプ一覧</a><br>
</body>
</html>