<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>top page</title>
</head>
<body>
  <h1>ポケモンGOデータベース</h1>
  <hr>
  <a href="/pokemon">ポケモン一覧</a><br>
  <a href="/type">タイプ一覧</a><br>
  <a href="/calc/page/cp">個体値計算</a>
  <hr>
  <details>
    <summary>このサイトについて</summary>
      <p>このサイトは、ポケモンGOに関するデータについて扱うサイトです。</p>
      <p>登録されているポケモンやタイプのデータの閲覧・編集、個体値の計算などができます。</p>
  </details>
</body>
</html>