<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>type一覧</title>
</head>
<body>
  <a href="/">トップページ</a>
  <a href="/type/page/insert">タイプを追加する</a>
  <a href="/type">ページの更新</a>
  <hr>
  <h2>タイプ一覧</h2>
  <hr>
  <table border=1>
      <% for( let row of data ) { 
        if(row.number != 0) { %>
        <tr>
            <td><a href="<%= '/type/edit/' + row.number %>">編集</a></td>
            <td><%= row.number %></td>
            <td><a href="<%= '/type/status/' + row.number %>"><%= row.name %></a></td>
        </tr>
      <% }
      } %>
  </table>
  <hr>
  <details>
    <summary>使い方</summary>
      <p>一覧は番号順になっている。</p>
      <details>
        <summary>名前のリンク</summary>
          <p>タイプの名前を押すことでそのポケモンの詳細ページに飛ぶことができる。</p>
          <p>詳細では、タイプ相性を確認することができる。</p>
      </details>
        
      <details>
        <summary>編集リンク</summary>
          <p>編集リンクを押すことでそのタイプの編集ページに行くことができる。</p>
          <p>編集ページでは、そのタイプの情報について削除ができる。</p>
      </details>
  </details>
  <hr>
        <a href="/">トップページ</a>
</body>
</html>