<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>type一覧</title>
</head>
<body>
  <h2>type一覧</h2>
  <table>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.number %></td>
            <td><%= row.name %></td>
        </tr>
      <% } %>
  </table>
  <a href="/">top page</a>
</body>
</html>